{% extends 'todo/base.html' %}

{% block content %}
<div class="container d-flex align-items-center g-3">
  <form action="/add/" method="POST" class="row g-2">
    {% csrf_token %} {{crispy}} 
    {{form}} 
    <input type="submit" value="Add" class="btn btn-primary w-25" />
  </form>
  <table class="table mx-5">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Title</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td>{{todo.title}}</td>
        <td>
          <button class="btn btn-primary"><a href="{% url 'update' todo.id %}" class="text-white text-decoration-none">Update </a></button>
        </td>
        <td>
          <button class="btn btn-primary"><a href="{% url 'delete' todo.id %}"  class="text-white text-decoration-none">Delete</a></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
