{% extends "todo/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-2">
    <h1>Registration page</h1>
    
    <form method="POST" class="form-control bg-info bg-opacity-25">
        
        {% csrf_token %}
        
        {% if form.errors %}
        <p>There is something wrong what you entered!</p>
        {% endif %}
        
        {{ form_user|crispy }}
        {{form_profile|crispy}}
        {# as_p orders the scene #}
        
        <input type="submit" value="Register" class="btn btn-info">
        
    </form>
</div>
{% endblock %}