.navbar{
    background-color:cadetblue;
}

#warning {
    background-color: lightcoral;
    color: aliceblue;
    margin: auto;
    width: 40%;
    height: 30%;
    text-align: center;
}
#success {
    background-color: darkseagreen ;
    color:rgb(231, 200, 158);
    margin: auto;
    width: 40%;
    height: 30%;
    text-align: center;
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2022/07/10/19/28/mountains-7313638_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

textarea { 
    max-width: 100%;
    resize:none;

}